* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #141c3d;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 15px;
}

.container {
    background-color: #F0F0F0;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: #1A1E2E;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.content {
    padding: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #000;
}

.employee-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.field label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #333;
}

.value {
    height: 30px;
    border-radius: 5px;
}



.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


button {
    display: flex;
    align-items: center;
    gap: 5px; 
    padding: 5px 10px; 
    border: none;
    border-radius: 5px;
    font-size: 0.8rem; 
    cursor: pointer;
}

button img.icon {
    width: 20px; 
    height: 20px; 
}

.edit-btn {
    background-color: #1832c5;
    color: #FFF;
}

.delete-btn {
    background-color: #1832c5;
    color: #FFF;
}

.payment-btn {
    background-color: #FFD700;
    color: #333;
    font-weight: bold;
}


.payment-btn {
    background-color: #f7De53;
    color: #333;
    font-weight: bold;
}

.footer {
    background-color: #1249be;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 0.8rem;
}

.logo img {
    height: 100px;
}
.blue {
    border-color: #2196f3;
}

.yellow {
    border-color: #ffeb3b;
}

